/*Colores Primarios*/
$color-negro: rgb(19, 19, 19);
$color-amarillo: #ffc957;
$color-rojo: #ff3823;
$color-blanco: #dbd1d0;

/*Tipografia*/
$font-lucida: 'Lucida Sans',  sans-serif;
$font-fraunces: 'Fraunces', serif;
$font-barlow: 'Barlow', sans-serif;

@mixin grid-slider ($var-color, $ptop) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    color: $color-blanco;
    justify-items: center;
    align-items: center;
    padding-top: $ptop ;
    background-color: $var-color;
}

@keyframes slide-in {
    from {
        opacity: 0;
        transform: translateX(-100%);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}