@include desptok {
.slider-video {
  @include grid-slider($color-blanco, 50px);
  padding-bottom: 50px;
}

.video {
    width: 553px; 
    height: 285px;
}

.slider-video-texto {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-negro;
    padding-right: 100px;
  
    h2 {
      font-size: 42px;
      letter-spacing: 0.15px;
      font-weight: 800;
      color: $color-rojo;
    }

    p {
      font-size: 16px;
    }
}

.envios {
    background: $color-rojo;
    color: $color-blanco;
    height: 100px;
    text-align: center;
    font-size: 20px;
    font-weight: 800;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 60px;
    font-family: $font-lucida;
    overflow: hidden;

  p {
    position: relative;
    animation: desplazar 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
  }
}

@keyframes desplazar {
  0% {
    transform: translateX(-100%);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}
}

@include mobile {
  .envios {
    background:$color-rojo;
    color: $color-blanco;
    height: 100px;
    text-align: center;
    font-size: 18px;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-family: $font-lucida;

    p {
      position: relative;
      animation: desplazar 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
    }    
  }

  @keyframes desplazar {
    0% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .video {
    width: 100%; 
    height: 100%;
    padding-top: 20px;
  }

  .slider-video {
    grid-column: 1;
    background-color: $color-blanco;
  }

  .slider-video-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-negro;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;

    h2{
      font-size: 32px;
      letter-spacing: 0.15px;
      font-weight: 800;
      color: $color-rojo;      
    }
  }  
}


@include tablet {
  .envios {
    background:$color-rojo;
    color: $color-blanco;
    height: 100px;
    text-align: center;
    font-size: 25px;
    font-weight: 800;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    font-family: $font-lucida;

    p {
      position: relative;
      animation: desplazar 2s cubic-bezier(0.68, -0.55, 0.265, 1.55) both;
    }      
  }

  @keyframes desplazar {
    0% {
      transform: translateX(-100%);
    }
    70% {
      transform: translateX(10px);
    }
    100% {
      transform: translateX(0);
    }
  }

  .video {
    width: 100%; 
    height: 400px;
    padding-top: 20px;
  }

  .slider-video {
    grid-column: 1;
    background-color: $color-blanco;
  }

  .slider-video-texto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: $color-negro;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
    font-size: 24px;

    h2{
      padding-top: 20px;
      font-size: 42px;
      letter-spacing: 0.15px;
      font-weight: 800;
      color: $color-rojo;      
    }
  }  
}